@import "../../css/colors.css";
@import "../../css/units.css";

.editor-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.editor-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    background: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid $ui-black-transparent;
    padding: calc(2 * $space);
}
[theme="dark"] .editor-container {
    background: $ui-primary;
}

.search-bar {
    background-image: url("./icon--search.svg");
    width: 25%;
    margin-bottom: 4px;
    padding: 8px;
    padding-right: 32px; /* for the text to not overlap the image */
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 7px) center;
    font-size: 0.75rem;
}

.heading {
    display: block;
    font-weight: bold;
    font-size: large;
    margin-top: 6px;
    margin-bottom: 6px;
}

.editor-container * > input {
    background: none;
    border: none;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.variable-name {
    word-break: break-word;
}
.variable-value {
    width: 75%;
}

.variable-value > textarea {
    background: none;
    border: none;
    padding: 8px;
    width: 100%;
    min-height: 36px;
    height: calc(36px * 2);
    line-height: 1em;
    resize: vertical;
}

.value-too-big {
    cursor: pointer;
    font: inherit;
    font-style: italic;
    color: inherit;
    background: none;
    border: none;
    margin: 0;
    padding: 8px;
    opacity: 0.8;
    width: 100%;
    text-align: left;
}
.value-too-big:hover {
    text-decoration: underline;
}

.editor-container table {
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}
  
.editor-container td {
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: left;
}
[theme="dark"] .editor-container td {
    border-color: #333;
}