# Mac OS
.DS_Store
.deploy.js
# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/.opt-in
!build/
!dist/
build/*
yarn.lock

# Generated translation files
/translations
/locale
src/lib/tw-translations/new-generated-translations.json
src/lib/tw-translations/merged-translations.json
