@import "../../css/colors.css";

.share-button {
    background: $motion-primary;
    color: $ui-white;
    box-shadow: 0 0 0 1px $ui-black-transparent;
    transition-duration: 0.35s;
}

.share-button-is-shared {
    background: $ui-black-transparent;
    cursor: default;
}
