/* Base styles used by Scratch https://github.com/LLK/scratch-www/blob/develop/src/main.scss */
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    line-height: 1.7em;
}
h1 {
    font-weight: 2.5rem;
}
h2 {
    font-weight: 2rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1rem;
}
a {
    color: #25d;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.editor {
    min-width: 1024px;
    min-height: 640px;
    height: 100%;
}
.editor .center {
    height: 100%;
}

.player-only .center {
    margin: auto;
}
.menu {
    margin-bottom: 8px;
}
.section {
    margin: 8px 0 8px 0;
}

.footer {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 2px solid #ddd;
}
.footer a {
    font-weight: bold;
    text-decoration: none;
}
[theme="dark"] .footer {
    border-color: #1a1a1a;
}
.footer-content {
    max-width: 600px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

[theme="dark"] .container {
    background-color: #111;
}
[theme="dark"] .player-only {
    color: #ddd;
}
[theme="dark"] a {
    color: #4af;
}

.unshared-update,
.infobox {
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
    border-radius: 0.5rem;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
}
[theme="dark"] .infobox {
    border-color: #203652;
    background-color: #16202c;
}
.infobox p {
    margin: 4px 0;
}
.infobox a {
    font-weight: bold;
    text-decoration: none;
}

/* .unshared-update {
    border-color: #ffb9b9;
    background-color: #ffdbdb;
} */

[theme="dark"] .unshared-update {
    border-color: #203652;
    background-color: #16202c;
}
.unshared-update p {
    margin: 4px 0;
}
.unshared-update a {
    font-weight: bold;
    text-decoration: none;
}

.remix-warning-box {
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #ffdbb9;
    background-color: #ffecdb;
    border-radius: 0.5rem;
}
[theme="dark"] .remix-warning-box {
    border-color: #523720;
    background-color: #2c2016;
}
.remix-warning-box p {
    margin: 4px 0;
}
.remix-warning-box a {
    font-weight: bold;
    text-decoration: none;
}

.remix-author-image {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border-radius: 4px;
}

.project-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.project-metadata {
    display: flex;
    flex-direction: column;
}
.project-author-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 8px;
}
.project-metadata h2 {
    line-height: 1.4em;
}
.project-metadata p {
    font-size: 0.85rem;
}
.project-metadata p a,
.project-metadata a {
    text-decoration: none;
    font-weight: bold;
}

.center-sector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.report-link,
.share-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.share-link > img,
.report-link > img {
    height: 16px;
    margin-right: 4px;
}
.report-link {
    color: red !important;
}
.share-link {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(90, 90, 90) !important;
    text-decoration: underline;
    cursor: pointer;
}
.share-link:active {
    filter: brightness(0.8);
}
.share-link > img {
    filter: brightness(0.3529411765);
}
[theme="dark"] .share-link {
    color: rgb(202, 202, 202) !important;
}
[theme="dark"] .share-link > img {
    filter: brightness(0.7921568627);
}

.remixList {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 128px;
    background-color: rgba(0, 0, 0, 10%);
}
.remixProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}
[theme="dark"] .remixProject {
    background-color: #111;
    color: white;
}
.remixProject:hover {
    background-color: hsl(0, 0%, 95%);
}
[theme="dark"] .remixProject:hover {
    background-color: rgba(0, 0, 0, 5%);
}
