[class*="gui_tabs_"] {
  --sa-category-width: 60px;
  --sa-flyout-width: 250px;
  --sa-toolbox-width: calc(var(--sa-category-width) + var(--sa-flyout-width));
}

.injectionDiv {
  border-left-color: transparent;
}

[dir="rtl"] .injectionDiv {
  border-left-color: var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
  border-right-color: transparent;
}

.injectionDiv::after {
  /* left border of the code area:
     must be above the flyout and below the extension button */
  content: "";
  display: block;
  position: absolute;
  z-index: 40;
  top: 0;
  bottom: 8px;
  left: -1px;
  border-left: 1px solid var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
}

[dir="rtl"] .injectionDiv::after {
  left: auto;
  right: -1px;
}

.blocklyFlyout,
.blocklyFlyoutScrollbar,
.sa-lock-image {
  transition-property: margin;
}

[dir="ltr"] .blocklyFlyout.sa-flyoutClose,
[dir="ltr"] .blocklyFlyoutScrollbar.sa-flyoutClose,
[dir="ltr"] .sa-lock-image.sa-flyoutClose {
  margin-left: calc(0px - var(--sa-flyout-width) - 10px);
}

[dir="rtl"] .blocklyFlyout.sa-flyoutClose,
[dir="rtl"] .blocklyFlyoutScrollbar.sa-flyoutClose {
  margin-left: calc(var(--sa-flyout-width) + 10px);
}

[dir="rtl"] .sa-lock-image.sa-flyoutClose {
  margin-right: calc(0px - var(--sa-flyout-width) - 10px);
}

.sa-flyout-placeHolder {
  display: var(--hideFlyout-placeholderDisplay) !important;
  position: absolute;
  top: 0;
  left: calc(var(--sa-category-width) + 1px);
  height: 100%;
  width: calc(var(--sa-flyout-width) + 1px);
}

[dir="rtl"] .sa-flyout-placeHolder {
  left: auto;
  right: calc(var(--sa-category-width) + 1px);
}

.sa-lock-image {
  display: var(--hideFlyout-lockDisplay) !important;
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: 4px;
  left: calc(var(--sa-toolbox-width) - 15px - 32px);
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--editorDarkMode-accent, white);
  border: 1px solid var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sa-lock-image.locked {
  background-color: var(--editorDarkMode-primary, #4d97ff);
  border-color: var(--editorDarkMode-primary-variant, #3373cc);
}

.sa-lock-image img {
  width: 20px;
  filter: var(--editorDarkMode-accent-filter, none);
}

.sa-lock-image.locked img {
  filter: var(--editorDarkMode-primary-filter, none);
}

[dir="rtl"] .sa-lock-image {
  left: auto;
  right: calc(var(--sa-toolbox-width) - 15px - 32px);
}

/* Setting these styles on gui_stage-and-target-wrapper breaks full screen */
[class*="gui_body-wrapper_" ] [class*="stage-wrapper_stage-wrapper_"]:not([class*="stage-wrapper_full-screen"]),
[class*="gui_target-wrapper_"] {
  /* must cover the hidden palette when editor-stage-left is enabled */
  position: relative;
  z-index: 31;
  padding-inline: 0.5rem;
}

[class*="gui_stage-and-target-wrapper_"] {
  padding: 0;
}
