@import "../css/colors.css";

.base {
    background-color: hsla(194, 100%, 50%, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
[theme="dark"] .base {
    background-color: #333a;
}

.promptBox {
    width: 540px;
    height: 380px;
    background: $ui-white;
    border-radius: 8px;
    outline-color: hsla(0, 0%, 100%, 0.25);
    outline-width: 4px;
    outline-style: solid;
    overflow: hidden;
    position: relative;
    color: black;
}
[theme="dark"] .promptBox {
    color: $text-primary;
    background: $ui-primary;
}

.header {
    width: 100%;
    height: 3.125em;
    background-color: hsla(194, 100%, 50%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
[theme="dark"] .header {
    background-color: $motion-primary-dark;
}

.buttonRow {
    height: 2.125em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 16px;
}

.promptButton {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 0.85rem;
    border: 0px;
    border-radius: 4px;
}

.promptButton:focus {
    outline-color: hsla(194, 100%, 50%, 0.35);
    outline-width: 4px;
    outline-style: solid;
}

.accept {
    background-color: hsla(194, 100%, 50%, 1);
    color: white;
}

.deny {
    background-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.15);
    color: black;
}

.filePicker {
    border: 0;
    background-color: hsla(194, 100%, 50%, 1);
    border-radius: 4px;
    font-weight: 600;
    color: white;
    font-size: 0.85rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.verticalSlider {
    transform: rotate(270deg);
}