@import "../../css/colors.css";

.modal-content {
    max-width: 750px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
    min-height: 150px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

/* For small screens, such as in the embed */
@media (max-height: 600px) {
    .modal-content {
        margin: 50px auto;
    }
    .body {
        max-height: calc(100vh - 150px);
    }
}

.setting {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 4px;
}
.setting.active {
    background: #dbebff;
}
.setting:hover,
.setting:focus-within {
    background: #cadef5;
}
[theme="dark"] .setting.active {
    background: #16202c;
}
[theme="dark"] .setting:hover,
[theme="dark"] .setting:focus-within {
    background: #202f41;
}

.label {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-unset-height {
    height: initial;
}

.setting table {
    border-collapse: collapse;
}
.setting tr,
.setting td,
.setting th {
    padding: 0;
    margin: 0;
    border: 1px solid $ui-tertiary;
}

.checkbox {
    margin-right: 0.5rem;
}

.help-icon {
    border: 0;
    background-color: transparent;
    background-image: url("./help-black.svg");
    width: 20px;
    height: 20px;
    background-size: 100%;
    margin-left: 0.5rem;
    cursor: pointer;
}
[theme="dark"] .help-icon {
    background-image: url("./help-white.svg");
}

.custom-stage-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: initial;
}
.custom-stage-size-container {
    display: flex;
    align-items: center;
}
.custom-stage-size > * {
    margin-right: 0.5rem;
}
.custom-stage-size-button {
    margin: 8px;
    background: white;
    border-radius: 10px;
    font-size: 40px;
    width: 168px;
    height: 126px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    outline: 4px white solid;
}
[theme="dark"] .custom-stage-size-button {
    outline-color: $ui-primary;
    background: $ui-primary;
    border-color: rgba(255, 255, 255, 0.1);
}
.custom-stage-size-button[data-widescreen="true"] {
    width: 224px;
}
.custom-stage-size-button[data-square="true"] {
    width: 126px;
}
.custom-stage-size-button[data-selected="true"] {
    border-color: $motion-primary;
}
.custom-stage-size-button:active {
    border-color: $motion-transparent;
}
.custom-stage-size-input {
    width: 80px;
    margin: 3px 8px;
}

.info {
    margin-bottom: 0.25rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}
.divider {
    flex-grow: 1;
    margin-left: 1rem;
    border-top: 1px dashed $ui-tertiary;
}

.button {
    font-family: inherit;
    font-size: 14px;
    background-color: $motion-primary;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}
.button:active, .button:focus-within {
    box-shadow: 0 0 0 3px $motion-transparent;
}

.warning {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 4px;
    background: rgb(255, 197, 38);
    color: black;
}
[theme="dark"] .warning {
    background: rgb(114, 65, 0);
    color: $text-primary;
}

.summary {
    cursor: pointer;
}
.dropdown {
    margin-right: 4px;
}
details[open] .dropdown {
    transform: rotate(90deg);
}