@import "../../css/colors.css";
@import "../../css/units.css";

.tag-button {
    padding: .625rem 1rem;
    margin-bottom: 6px;
    background: $motion-primary;
    border-radius: 1.375rem;
    color: $ui-white;
    height: $library-filter-bar-height;
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: $data-primary;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 24px;
    height: 24px;
    margin: 4px 0;
    margin-right: 4px;
    border: 2px solid $ui-black-transparent;
    border-radius: 4px;
    cursor: pointer;
}
.checkbox:focus,
.checkbox:hover {
    border: 2px solid $motion-primary;
}
[dir="rtl"] .checkbox {
    margin-right: initial;
    margin-left: 4px;
}

.checkbox:checked {
    border: 2px solid $motion-primary;
    background: $motion-primary;
    background-image: url('data:image/svg+xml;base64,PCEtLSBodHRwczovL2FrYXJpY29ucy5jb20vIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGFyaWEtaGlkZGVuPSJ0cnVlIiBmb2N1c2FibGU9ImZhbHNlIiB3aWR0aD0iMWVtIiBoZWlnaHQ9IjFlbSIgc3R5bGU9Ii1tcy10cmFuc2Zvcm06IHJvdGF0ZSgzNjBkZWcpOyAtd2Via2l0LXRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7IHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBtZWV0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiPjxwYXRoIGQ9Ik00IDEybDYgNkwyMCA2IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvZz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
