.description {
    max-height: 250px;
    overflow: auto;
    white-space: pre-line;
    overflow-wrap: break-word;
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
    border-radius: 0.5rem;
}

.description a {
    font-weight: bold;
    text-decoration: none;
}

[theme="dark"] .description {
    border-color: #203652;
    background-color: #16202c;
}

.header {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.divider {
    margin-top: 8px;
}

.project-link {
    margin-bottom: 2px;
}

.emoji {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}
h1 .emoji {
    width: 1.8rem;
    height: 1.8rem;
}
em .emoji {
    transform: skew(-12deg, 0deg);
}
strong .emoji {
    filter: contrast(2);
}
del .emoji {
    filter: blur(2px);
}