@import "../../css/colors.css";

.code,
.unsandboxed-container,
.unsandboxed-warning,
.sandboxed {
    margin: 8px 0;
}

.code {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 5rem;
    min-height: 3rem;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    font-family: monospace;
    margin: 0.5rem 0;
}
[theme="dark"] .code {
    background: $ui-secondary;
    color: white;
}

.unsandboxed-container {
    display: flex;
    align-items: center;
}
.unsandboxed-checkbox {
    margin-right: 8px;
}
.unsandboxed-warning {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 81, 81, 0.25);
    border: 1px solid red;
}
